<?xml version="1.0"?>
<config>
  <modules>
    <Gremlintech_Featured>
      <version>0.1.0</version>
    </Gremlintech_Featured>
  </modules>
  <frontend>
    <routers>
      <featured>
        <use>standard</use>
          <args>
            <module>Gremlintech_Featured</module>
            <frontName>sales</frontName>
          </args>
      </featured>
    </routers>
		<layout>
		  <updates>
			<featured>
			  <file>featured.xml</file>
			</featured>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <featured>
        <class>Gremlintech_Featured_Helper</class>
      </featured>
    </helpers>
	<blocks>
	  <featured>
		<class>Gremlintech_Featured_Block</class>
	  </featured>
	</blocks>
  </global>
</config> 