.block-title
{
  .slider-arrows {
    position: absolute;
    right: 0;
    top: -5px;
  }

  @include breakpoint(small) {
    .featured-categories-wrapper {
      display: block !important;
      position: absolute;
      right: 0;
      top: 0;

      & > li {
        &.is-dropdown-submenu-parent {
          & > a {
            color: $font-grey;
            padding: 5px 30px;
            &:after {
              border-color: $primary-color transparent transparent;
            }
          }

          &:hover {
            background: $white;
            & > a {
              color: $primary-color;
            }
          }

          & > .is-dropdown-submenu {
            & > li {

              &:hover {
                background: #eee;
              }

              & > span {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium up) {
    .category {
      display: block !important;
      position: absolute;
      right: 0;
      top: 3px;

      &.menu
      {
        & > li
        {
          color: $font-grey;
          font-size:15px;
          padding: 0 10px;

          &:hover {
            color: $primary-color;
            border-bottom:solid 1px $primary-color;
            cursor: hand;
          }
        }
      }
    }
  }

}

.featured-grid
{
  display:none;
  &.active
  {
    display:block;
  }
}